<section class="category-page">

  {{!-- Top Banner Section --}}
  <section id="main-content" class="hero">
    <div class="container section">
      <h1 class="hero-text fade-in-up">{{settings.category_heading}}</h1>
      {{#if settings.show_category_subtitle}}
        <p class="p-large fade-in-up">{{settings.category_subtitle}}</p>
      {{/if}}
      <div class="hero-inner fade-in-up">
        <h2 class="visibility-hidden">{{ t 'search' }}</h2>
        <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
          <path d="M15.49 14.645L12.24 11.395H12.205C13.2068 10.2139 13.713 8.69119 13.6178 7.1454C13.5226 5.59961 12.8334 4.15049 11.6943 3.10119C10.5553 2.05189 9.05456 1.48368 7.50616 1.51542C5.95777 1.54717 4.48162 2.17641 3.38651 3.27152C2.2914 4.36663 1.66216 5.84278 1.63041 7.39117C1.59867 8.93957 2.16688 10.4403 3.21618 11.5793C4.26548 12.7184 5.7146 13.4076 7.26039 13.5028C8.80618 13.598 10.3289 13.0918 11.51 12.09C11.51 12.09 11.51 12.115 11.51 12.125L14.76 15.375C14.8065 15.4219 14.8618 15.4591 14.9227 15.4845C14.9837 15.5099 15.049 15.5229 15.115 15.5229C15.181 15.5229 15.2464 15.5099 15.3073 15.4845C15.3683 15.4591 15.4236 15.4219 15.47 15.375C15.5213 15.3297 15.5627 15.2742 15.5917 15.2122C15.6206 15.1502 15.6365 15.0828 15.6384 15.0144C15.6403 14.9459 15.6281 14.8778 15.6026 14.8143C15.577 14.7508 15.5387 14.6932 15.49 14.645ZM7.63504 12.5C6.64613 12.5 5.67943 12.2068 4.85719 11.6574C4.03494 11.108 3.39408 10.3271 3.01564 9.41346C2.6372 8.49983 2.53818 7.4945 2.73111 6.5246C2.92404 5.55469 3.40024 4.66378 4.0995 3.96451C4.79877 3.26525 5.68968 2.78905 6.65959 2.59612C7.62949 2.40319 8.63482 2.50221 9.54845 2.88065C10.4621 3.25909 11.243 3.89995 11.7924 4.7222C12.3418 5.54444 12.635 6.51114 12.635 7.50005C12.635 8.15666 12.5057 8.80684 12.2544 9.41346C12.0032 10.0201 11.6349 10.5713 11.1706 11.0356C10.7063 11.4999 10.1551 11.8682 9.54845 12.1194C8.94183 12.3707 8.29165 12.5 7.63504 12.5Z" fill="#686B71"/>
        </svg>
        {{search instant=settings.instant_search class='search search-full'}}
      </div>
    </div>
    <svg width="271" height="394" viewBox="0 0 271 394" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_15311_1148)">
        <path d="M-29.31 350.413C-78.8445 300.878 -78.8445 220.567 -29.3101 171.033C20.2244 121.498 100.536 121.498 150.07 171.033C199.604 220.567 199.604 300.878 150.07 350.413C100.536 399.947 20.2244 399.947 -29.31 350.413Z" fill="#E2ECDF"/>
        <path d="M72.9113 171.583C44.5456 143.218 44.5456 97.2278 72.9113 68.8621C101.277 40.4965 147.267 40.4965 175.632 68.8621C203.998 97.2278 203.998 143.218 175.632 171.583C147.267 199.949 101.277 199.949 72.9113 171.583Z" fill="#84A17D"/>
        <path d="M223.937 51.4446C210.771 49.3079 201.83 36.9025 203.967 23.7365C206.103 10.5705 218.509 1.62956 231.675 3.76631C244.841 5.90307 253.782 18.3084 251.645 31.4744C249.508 44.6404 237.103 53.5814 223.937 51.4446Z" fill="#84A17D"/>
        <path d="M51.9563 95.8773C51.9563 69.2198 73.6002 47.5759 100.258 47.5759H172.71C159.381 47.5759 148.559 58.459 148.559 71.8489V95.8773V96.183C148.559 96.1219 148.559 96.0607 148.559 96.0607C148.498 122.657 126.915 144.24 100.258 144.24H76.1069C62.7782 144.24 51.9563 155.123 51.9563 168.513V144.24V95.8773Z" fill="#163C3C"/>
        <rect x="143.811" y="202.208" width="121.292" height="121.292" rx="60.6462" stroke="black" stroke-opacity="0.15"/>
      </g>
      <defs>
        <clipPath id="clip0_15311_1148">
          <rect width="271" height="394" fill="white"/>
        </clipPath>
      </defs>
    </svg>
    <svg width="249" height="353" viewBox="0 0 249 353" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_15311_1149)">
        <path d="M118.111 324.764C82.6102 289.263 82.6102 231.704 118.111 196.203C153.612 160.702 211.171 160.702 246.672 196.203C282.173 231.704 282.173 289.263 246.672 324.764C211.171 360.265 153.612 360.265 118.111 324.764Z" fill="#84A17D"/>
        <rect x="0.036377" y="0.0510254" width="161.686" height="161.686" rx="80.8431" stroke="black" stroke-opacity="0.15"/>
        <path d="M111.857 182.347V158.318V158.013C111.857 158.074 111.857 158.135 111.857 158.135C111.918 131.539 133.501 109.956 160.159 109.956C186.816 109.956 208.46 131.6 208.46 158.257C208.46 184.915 186.816 206.559 160.159 206.559H87.7065C101.035 206.62 111.857 195.737 111.857 182.347Z" fill="#E2ECDF"/>
        <path d="M37.4155 250.98C28.3495 249.508 22.1928 240.966 23.6641 231.9C25.1355 222.834 33.6778 216.677 42.7438 218.149C51.8098 219.62 57.9665 228.162 56.4952 237.228C55.0238 246.294 46.4816 252.451 37.4155 250.98Z" fill="#163C3C"/>
      </g>
      <defs>
        <clipPath id="clip0_15311_1149">
          <rect width="249" height="353" fill="white"/>
        </clipPath>
      </defs>
    </svg>
  </section>

  {{!-- Main Content --}}
  <section class="category-page__content container section">
    <h2 class="fade-in-up">{{category.name}}</h2>
    {{#if category.description}}
      <p class="fade-in-up">{{category.description}}</p>
    {{/if}}
    <div class="category-page__sections">
      {{#each sections}}
      <div class="category-page__section fade-in-up">
        <div class="category-page__section-heading">
          <h3>{{name}}</h3>
          <a class="button button-primary" href="{{url}}">{{t 'show_all_articles'}}</a>
        </div>
        <div class="category-page__articles">
          {{#each articles}}
            <div class="category-page__article">
              <h6><a href="{{url}}">{{title}}</a></h6>
              <div>{{body}}</div>
              <div>
                <a href="{{url}}"></a>
                {{t 'see_more'}}
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" fill="none">
                    <path d="M1.5 5H10.5M10.5 5L6.5625 1M10.5 5L6.5625 9" stroke="#222B27" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      {{/each}}
    </div>
  </section>

</section>


