<footer class="footer">
  <div class="submit-request">
    <div class="container">
      <h2 class="fade-in-up">{{settings.footer_heading}}</h2>
      <p class="fade-in-up">{{settings.footer_text}}</p>
      <div class="fade-in-up">
        <a class="button button-primary" href="{{settings.footer_link}}">{{settings.footer_link_text}}</a>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" width="188" height="173" viewBox="0 0 188 173" fill="none">
        <g clip-path="url(#clip0_15311_1155)">
          <path opacity="0.2" d="M-12.2424 69.2118L11.0512 62.9703C28.9315 58.1793 49.0509 75.1958 55.9503 100.945C49.0919 75.1848 57.9981 50.5175 75.8784 45.7265L124.516 32.6941L140.756 28.3426C149.696 25.9471 154.138 13.4899 150.657 0.497208L156.955 24.0021L169.456 70.6577C176.356 96.4068 167.44 121.203 149.56 125.994L99.6508 139.367C91.6358 142.591 87.8212 154.437 91.1127 166.721C87.6472 153.787 77.5717 145.22 68.6315 147.616L12.8171 162.571C-5.06315 167.362 -25.1825 150.346 -32.082 124.596C-39.0383 98.7992 -30.1226 74.0028 -12.2424 69.2118Z" fill="#84A17D"/>
          <path d="M174.124 150.967C170.411 150.365 167.89 146.867 168.493 143.154C169.095 139.442 172.593 136.921 176.306 137.523C180.018 138.126 182.539 141.624 181.937 145.336C181.334 149.049 177.836 151.57 174.124 150.967Z" fill="white"/>
          <path d="M100.101 51.5472C86.9352 49.4105 77.9942 37.0052 80.131 23.8392C82.2677 10.6732 94.6731 1.73219 107.839 3.86894C121.005 6.0057 129.946 18.411 127.809 31.577C125.673 44.743 113.267 53.684 100.101 51.5472Z" fill="white"/>
        </g>
        <defs>
          <clipPath id="clip0_15311_1155">
            <rect width="188" height="173" fill="white"/>
          </clipPath>
        </defs>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="184" height="175" viewBox="0 0 184 175" fill="none">
        <g clip-path="url(#clip0_15311_1163)">
          <path opacity="0.2" d="M200.146 68.7146L176.852 62.4731C158.972 57.6821 138.852 74.6986 131.953 100.448C138.811 74.6876 129.905 50.0203 112.025 45.2293L63.3872 32.1969L47.1473 27.8454C38.2072 25.4499 33.7652 12.9927 37.2466 0L30.9485 23.5049L18.4471 70.1605C11.5477 95.9096 20.4633 120.706 38.3436 125.497L88.2525 138.87C96.2675 142.094 100.082 153.94 96.7906 166.224C100.256 153.29 110.332 144.723 119.272 147.118L175.086 162.074C192.966 166.865 213.086 149.848 219.985 124.099C226.942 98.302 218.026 73.5056 200.146 68.7146Z" fill="#84A17D"/>
          <path d="M140.823 39.2905C131.536 37.7833 125.229 29.0328 126.736 19.7458C128.244 10.4588 136.994 4.152 146.281 5.65922C155.568 7.16644 161.875 15.9169 160.368 25.2039C158.861 34.491 150.11 40.7977 140.823 39.2905Z" fill="white"/>
          <path d="M48.2493 133.589C43.4465 132.809 40.185 128.284 40.9644 123.481C41.7439 118.678 46.2692 115.417 51.0719 116.196C55.8747 116.976 59.1362 121.501 58.3567 126.304C57.5773 131.107 53.052 134.368 48.2493 133.589Z" fill="white"/>
        </g>
        <defs>
          <clipPath id="clip0_15311_1163">
            <rect width="184" height="175" fill="white"/>
          </clipPath>
        </defs>
      </svg>
    </div>
  </div>
  <div class="footer__top container">
    <p>{{settings.footer_description}}</p>
    <ul class="footer__list">
      <li>
        <a href="{{settings.footer_list_item1_url}}">{{settings.footer_list_item1}}</a>
      </li>
      <li>
        <a href="{{settings.footer_list_item2_url}}">{{settings.footer_list_item2}}</a>
      </li>
      <li>
        <a href="{{settings.footer_list_item3_url}}">{{settings.footer_list_item3}}</a>
      </li>
      {{#if settings.show_footer_list_item4}}
        <li>
          <a href="{{settings.footer_list_item4_url}}">{{settings.footer_list_item4}}</a>
        </li>
      {{/if}}
      {{#if settings.show_footer_list_item5}}
        <li>
          <a href="{{settings.footer_list_item5_url}}">{{settings.footer_list_item5}}</a>
        </li>
      {{/if}}
      {{#if settings.show_footer_list_item6}}
        <li>
          <a href="{{settings.footer_list_item6_url}}">{{settings.footer_list_item6}}</a>
        </li>
      {{/if}}
    </ul>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__social">
        {{#if settings.show_social_icon1}}
          <a href="{{settings.footer_social_link1}}" target="_blank" rel="noreferrer noopener">
            <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 24 24" fill="none">
              <g clip-path="url(#clip0_33_3751)">
                <path d="M24.0002 12C24.0002 5.37258 18.6277 0 12.0002 0C5.37282 0 0.000244141 5.37258 0.000244141 12C0.000244141 17.9895 4.38845 22.954 10.1252 23.8542V15.4688H7.07837V12H10.1252V9.35625C10.1252 6.34875 11.9168 4.6875 14.6578 4.6875C15.9703 4.6875 17.344 4.92188 17.344 4.92188V7.875H15.8309C14.3402 7.875 13.8752 8.80008 13.8752 9.75V12H17.2034L16.6713 15.4688H13.8752V23.8542C19.612 22.954 24.0002 17.9895 24.0002 12Z" fill="#111111"/>
              </g>
              <defs>
                <clipPath id="clip0_33_3751">
                  <rect width="24" height="24" fill="white" transform="translate(0.000244141)"/>
                </clipPath>
              </defs>
            </svg>
          </a>
        {{/if}}
        {{#if settings.show_social_icon2}}
          <a href="{{settings.footer_social_link2}}" target="_blank" rel="noreferrer noopener">
            <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 24 24" fill="none">
              <path d="M22.2237 0H1.77212C0.792432 0 0.000244141 0.773438 0.000244141 1.72969V22.2656C0.000244141 23.2219 0.792432 24 1.77212 24H22.2237C23.2034 24 24.0002 23.2219 24.0002 22.2703V1.72969C24.0002 0.773438 23.2034 0 22.2237 0ZM7.12056 20.4516H3.55806V8.99531H7.12056V20.4516ZM5.33931 7.43438C4.19556 7.43438 3.27212 6.51094 3.27212 5.37187C3.27212 4.23281 4.19556 3.30937 5.33931 3.30937C6.47837 3.30937 7.40181 4.23281 7.40181 5.37187C7.40181 6.50625 6.47837 7.43438 5.33931 7.43438ZM20.4518 20.4516H16.894V14.8828C16.894 13.5562 16.8706 11.8453 15.0424 11.8453C13.1909 11.8453 12.9096 13.2937 12.9096 14.7891V20.4516H9.35649V8.99531H12.769V10.5609H12.8159C13.2893 9.66094 14.4518 8.70938 16.1815 8.70938C19.7862 8.70938 20.4518 11.0813 20.4518 14.1656V20.4516Z" fill="#111111"/>
            </svg>
          </a>
        {{/if}}
        {{#if settings.show_social_icon3}}
          <a href="{{settings.footer_social_link3}}" target="_blank" rel="noreferrer noopener">
            <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 24 24" fill="none">
              <g clip-path="url(#clip0_33_3752)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0002 0C5.37264 0 0.000244141 5.3808 0.000244141 12.0204C0.000244141 17.3304 3.43824 21.8364 8.20704 23.4252C8.80704 23.5356 9.02544 23.1648 9.02544 22.8456C9.02544 22.5612 9.01585 21.804 9.00984 20.802C5.67144 21.528 4.96704 19.1904 4.96704 19.1904C4.42224 17.8008 3.63504 17.4312 3.63504 17.4312C2.54544 16.6872 3.71784 16.7016 3.71784 16.7016C4.92144 16.7856 5.55504 17.94 5.55504 17.94C6.62544 19.776 8.36424 19.2456 9.04704 18.9384C9.15744 18.162 9.46704 17.6328 9.81024 17.3328C7.14624 17.0292 4.34424 15.9972 4.34424 11.3916C4.34424 10.08 4.81224 9.006 5.57904 8.166C5.45544 7.8624 5.04384 6.6396 5.69664 4.986C5.69664 4.986 6.70464 4.662 8.99664 6.2172C9.97557 5.95022 10.9856 5.81423 12.0002 5.8128C13.0202 5.8176 14.0462 5.9508 15.005 6.2172C17.2958 4.662 18.3014 4.9848 18.3014 4.9848C18.9566 6.6396 18.5438 7.8624 18.4214 8.166C19.1894 9.006 19.655 10.08 19.655 11.3916C19.655 16.0092 16.8482 17.0256 14.1758 17.3232C14.6066 17.694 14.9894 18.4272 14.9894 19.5492C14.9894 21.1548 14.975 22.452 14.975 22.8456C14.975 23.1672 15.191 23.5416 15.8006 23.424C18.1902 22.6225 20.2675 21.0904 21.7388 19.0441C23.2102 16.9977 24.0013 14.5408 24.0002 12.0204C24.0002 5.3808 18.6266 0 12.0002 0Z" fill="#111111"/>
              </g>
              <defs>
                <clipPath id="clip0_33_3752">
                  <rect width="24" height="24" fill="white" transform="translate(0.000244141)"/>
                </clipPath>
              </defs>
            </svg>
          </a>
        {{/if}}
        {{#if settings.show_social_icon4}}
          <a href="{{settings.footer_social_link4}}" target="_blank" rel="noreferrer noopener">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
            </svg>
          </a>
        {{/if}}
        {{#if settings.show_social_icon5}}
          <a href="{{settings.footer_social_link5}}" target="_blank" rel="noreferrer noopener">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/>
            </svg>
          </a>
        {{/if}}
        {{#if settings.show_social_icon6}}
          <a href="{{settings.footer_social_link6}}" target="_blank" rel="noreferrer noopener">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              <path d="M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3 48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288 448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5 213.5V175.2l142.7 81.2-142.7 81.2z"/>
            </svg>
          </a>
        {{/if}}
      </div>
      <p class="footer__right p-small">{{settings.footer_right}}</p>
    </div>
  </div>
</footer>